.container {
  width: 100%;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .bootstrapContainer {
    padding: 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .row {
    width: 100%;
    flex: auto;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
      padding: 16px;
      flex-direction: column;
    }

    .formContainer {
      margin: 20px 0;
      padding: 20px 30px;
      height: max-content;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.435);

      @media (max-width: 575px) {
        flex: auto;
        margin: 0;
        padding: 20px 0;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      form {
        @media (max-width: 575px) {
          padding: 0 25px;
          width: 100%;
        }

        h1 {
          margin-bottom: 15px;
          text-align: center;
          color: #007bff;
        }

        .inputContainer {
          position: relative;
          display: flex;
          flex-direction: column;

          label {
            margin: 0;
            position: relative;
            top: 29px;
            left: 10px;
            color: #004187;
            transition: all ease-in 0.1s;

            &.active {
              top: 0;
              left: 0;
            }
          }

          input,
          textarea {
            padding: 5px 10px;
            position: relative;
            color: #000;
            background-color: inherit;
            border: none;
            border-bottom: 2px solid #007bff;
            border-radius: 0;
            outline: none;

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 30px #9acbff inset !important;
            }
          }

          textarea {
            resize: none;
          }

          small {
            height: 19px;
            color: rgb(233, 0, 0);
            text-align: end;
          }

          .invalid {
            border-bottom: 2px solid rgb(233, 0, 0);
          }
        }

        .submitContainer {
          margin-top: 10px;
          text-align: center;

          button {
            width: 50%;
          }
        }

        .linkContainer {
          margin-top: 20px;
          text-align: center;
          font-size: 14px;

          a {
            font-size: 18px;
            white-space: nowrap;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.question {
  text-align: center;
  color: #333;
}
