.card {
  margin: 0 10px 20px;
  width: auto;
  background-color: rgba(#ffffff, 0.3);
  border: 2px solid rgba(#ffffff, 0);
  border-radius: 10px;

  @media (max-width: 767px) {
    width: 100%;
  }

  &.checked {
    border: 2px solid red;
  }

  .cardBody {
    padding: calc(1.25rem - 2px);

    .titleAndCheckbox {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 24px;
      }

      .titleLink {
        color: #004692;

        &:hover {
          color: #086cd6;
          text-decoration: none;
        }
      }

      .selectContainer {
        margin: -10px -10px 0 0;
        height: max-content;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &:hover {
          background-color: rgba(#ffffff, 0.3);
          border-radius: 5px;
        }

        label,
        .checkbox {
          cursor: pointer;
        }

        label {
          margin: 0;
          padding: 10px 5px 10px 10px;
          user-select: none;
        }

        .checkbox {
          margin-right: 10px;
        }
      }
    }

    .date {
      margin-right: 24px;
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;

      .taskButtons {
        width: 44%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;

        span {
          margin-left: 20px;

          @media (max-width: 500px) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
