.card {
  margin: 0 10px 20px;
  width: auto;
  background-color: rgba(#ffffff, 0.3);
  border: 2px solid rgba(#ffffff, 0);
  border-radius: 10px;

  @media (max-width: 767px) {
    width: 100%;
  }

  &.done {
    border: 2px solid #ffc107;
    background-color: rgba(#ffffff, 0.1);

    p {
      opacity: 0.7;
    }
  }

  &.checked {
    border: 2px solid red;
  }

  .cardBody {
    padding: calc(1.25rem - 2px);

    .titleAndCheckbox {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 22px;
      }

      .titleLink {
        color: #006adc;

        &:hover {
          color: #0a5db6;
          text-decoration: none;
        }
      }

      .label {
        margin: -10px -5px 0 0;
        padding: 10px 5px;
        height: max-content;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        user-select: none;
        cursor: pointer;

        @media (max-width: 767px) {
          margin: -10px -10px 0 0;
          padding: 10px;
        }

        &:hover {
          background-color: rgba(#ffffff, 0.3);
          border-radius: 5px;
        }

        span {
          margin-right: 5px;
        }
      }
    }

    b {
      color: #002a73;
    }

    .created {
      margin-right: 30px;
    }

    .deadline {
      margin-right: 20px;
    }

    .status {
      margin-right: 40px;
    }

    .buttonContainer {
      display: flex;
      justify-content: flex-end;

      .taskButtons {
        width: 40px;
        height: 40px;
      }
    }
  }
}
