.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;

  .price {
    margin: 0;
  }

  .button {
    margin-left: 30px;
    padding: 5px 10px;
  }
}
