.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.logLink {
  margin: 0 -10px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(#fff, 0.1);
    border-radius: 5px;
  }
}

.link {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(#fff, 0.2);
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: rgba(#fff, 0.4);
    text-decoration: none;
    color: #fff;
  }

  &.mobileLink {
    display: none;
  }

  @media (max-width: 575px) {
    margin: 5px 0;

    &.mobileLink {
      display: block;
    }

    &.desktopLink {
      display: none;
    }
  }
}

.active {
  background-color: rgba(#fff, 0.4);
  font-weight: 600;
}

.userWrapper {
  margin-left: 20px;

  @media (min-width: 576px) {
    &.mobileWrapper {
      display: none;
    }
  }

  @media (max-width: 576px) {
    margin-right: 10px;
    flex: auto;
    display: flex;
    justify-content: flex-end;

    &.desktopWrapper {
      display: none;
    }
  }

  @media (width: 576px) {
    &.desktopWrapper {
      margin-right: 0;
      display: flex;
    }
  }

  .userContainer {
    padding: 5px;
    position: relative;
    border-radius: 5px;
    background-color: rgba(#fff, 0.2);

    .userInformation {
      display: flex;
      align-items: center;

      svg {
        width: 35px;
        height: 35px;

        path {
          fill: white;
        }
      }

      .userName {
        margin: 0 0 0 5px;
        color: white;
        text-align: center;

        @media (max-width: 576px) {
          display: none;
        }

        @media (width: 576px) {
          display: block;
        }
      }
    }

    .userMenu {
      display: none;
    }

    &:hover {
      .userMenu {
        width: 167px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        background-color: #2990ff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        z-index: 100;

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          border: 10px solid transparent;
          border-top: 0;
          border-bottom: 10px solid #2990ff;
          @media (max-width: 575px) {
            border-bottom: 10px solid #0b6dd5;
          }
        }

        &::after {
          content: '';
          width: 100%;
          height: 11px;
          position: absolute;
          top: -10px;
          left: 0;
        }

        @media (max-width: 576px) {
          .userName {
            padding: 20px 0;
            text-align: center;
            color: white;
            background-color: #0b6dd5;
            border-bottom: 1px solid white;
            cursor: context-menu;
          }
        }

        .buttons {
          padding: 8px 0;
          color: white;
          text-align: center;
          cursor: pointer;

          &.first {
            border-radius: 5px 5px 0 0;
          }

          &:first-child,
          &:nth-child(2) {
            border-bottom: 1px solid white;
          }

          &:last-child {
            border: 0;
            border-radius: 0 0 5px 5px;
          }

          &:hover {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }
  }
}
