.header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  .logoLink {
    padding: 0 20px;
    text-decoration: none;
    color: white;

    &:hover {
      color: #4b00ff;
    }

    .svg {
      width: 67px;
      height: 60px;

      path {
        fill: #61dafb;
      }

      &:hover {
        path {
          fill: #4b00ff;
        }
      }
    }
  }

  .menuLink {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-left: 1px solid white;

    &:first-child {
      border: none;
    }

    &.active {
      color: #4b00ff;
    }

    &:hover {
      color: #4b00ff;
    }
  }
}
