.singleTaskContainer {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .singleTaskWrapper {
    padding: 20px 30px;
    width: 90%;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .taskInformationAndButtons {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .datesAndStatsContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .informationContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;

        @media (max-width: 768px) {
          margin: 0 10px 5px;
        }

        .date,
        .status {
          padding: 5px 15px;
          color: #fff;
          border-radius: 4px;
          user-select: none;
        }

        .date {
          background-color: #007bff;

          &:hover {
            background-color: #0069d9;
          }
        }

        .status {
          min-width: 80px;
          text-align: center;
          background-color: #28a745;

          &:hover {
            background-color: #178731;
          }
        }

        .active {
          color: black;
          background-color: #ffc107;

          &:hover {
            background-color: #dca500;
          }
        }
      }
    }

    .buttonContainer {
      display: flex;
      flex-wrap: nowrap;

      .taskButtons {
        margin-left: 10px;
        width: 40px;
        height: 40px;

        @media (max-width: 768px) {
          margin: 0 5px 10px 5px;
        }
      }
    }
  }

  .titleContainer,
  .descriptionContainer {
    margin-bottom: 20px;
    width: 100%;
    display: flex;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    b {
      min-width: 120px;

      @media (max-width: 480px) {
        min-width: 100%;
      }
    }
  }

  .title {
    font-weight: 600;
  }
}

.noTask {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
}
