.singleTaskContainer {
  width: 100%;
  min-height: calc(100vh - 56px);
  padding: 10px 20px;
  font-size: 18px;

  b {
    font-style: italic;
    min-width: 120px;
  }

  .dateAndButtons {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dateContainer {
      display: flex;
    }

    button:last-child {
      margin-right: 0;
    }

    @media (max-width: 480px) {
      div {
        display: flex;
        flex-direction: column;

        button {
          width: 100%;

          &:first-child {
            margin-bottom: 5px;
          }
        }
      }

      .dateContainer {
        flex-direction: column;

        b {
          width: 100%;
        }
      }
    }
  }

  .titleContainer,
  .descriptionContainer {
    margin-bottom: 20px;
    width: 100%;
    display: flex;

    b {
      min-width: 120px;
    }

    @media (max-width: 480px) {
      flex-direction: column;

      b {
        min-width: 100%;
      }
    }
  }

  .titleContainer {
    .title {
      font-weight: 600;
    }
  }

  .descriptionContainer {
  }

  .taskButtons {
    margin-right: 10px;

    span {
      margin-left: 20px;
    }
  }
}

.noTask {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
