* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/images/todo-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.toDoApplication {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main,
.container-fluid {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.tooltip {
  transition: opacity 0.15s linear;

  &.show {
    opacity: 1;
  }
}

.invalid {
  border: 1px solid #f00;
}

.modal-header {
  button {
    outline: none;
  }
}

.white-tooltip {
  .arrow::before {
    border-top-color: #fff;
  }

  .tooltip-inner {
    color: #000;
    background-color: #fff;
  }
}
