.container {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  div {
    font-size: 20px;
    font-weight: 500;
  }

  a {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;

    &:hover {
      background-color: #0069d9;
      text-decoration: none;
    }
  }
}
