.container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  div {
    font-size: 20px;
    font-weight: 500;
  }
}
