.container {
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  div {
    font-size: 20px;
    font-weight: 500;
  }

  a {
    margin-top: 10px;
    font-size: 18px;
    color: #002144;

    &:hover {
      text-decoration: none;
    }
  }
}
